* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style-type: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    grid: 1fr 5fr / 1fr 5fr;
    height: 100vh;
}

img {
    width: 20px;
    position: relative;
    right: 10px;
    top: 5px;
}

h1 > img {
    width: 40px;
    position: relative;
    top: 10px;
    right: 10px;
}

.sidebar {
    grid-row: 1 / span 2;

    display: grid;
    grid: repeat(3, 1fr);
    align-content: start;
    gap: 50px;

    padding: 10px 30px;
    background-color: #22c55e;
    color: white;

    font-weight: bold;
    position: relative;
    z-index: 2;
}

.sidebar > h1 {
    font-size: 25px;
}

ul {
    position: relative;
    left: 25px;
}

ul > li {
    padding: 5px 0;
}

ul > li > img {
    position: relative;
    right: 25px;
}

.header {
    grid-column: 2;

    display: grid;
    grid: 1fr 1fr / 2fr 1fr;
    padding: 0px 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 5px 10px #bbf7d0;
    position: relative;
    z-index: 1;
}

.search-bar {
    margin: 20px;
    margin-left: 40px;
    border-radius: 100px;
    background-color: #dcfce7;
}

.search-bar > img {
    position: relative;
    top: 10px;
    right: 30px;
}


.welcome {
    display: grid;
    grid-template-columns: 60px 4fr;
}

.welcome > div > img {
    width: 75px;
    position: relative;
    left: 10px;
    bottom: 10px;
}

.greeting {
    font-weight: bold;
    padding-top: 23px;
    padding-left: 35px;
}

.greeting > p:first-child{
    font-size: 12px;
}

.greeting > p:last-child{
    font-size: 20px;
}

.user-info {
    display: grid;
    gap: 10px;
    grid-template-columns: 40px 40px 130px;
    justify-content: end;
    align-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
    right: 20px;
}

.user-info > div > img {
    position: relative;
    width: 30px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: end;
    position: relative;
    bottom: 10px;
}

button {
    padding: 7px 30px;
    border-radius: 20px;
    background-color: #22c55e;
    color: white;
    font-weight: bold;
}


.main-content {
    grid-row: 2;
    grid-column: 2;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    padding: 20px;
    background-color: #dcfce7;
    gap: 20px;
}

.projects {
    grid-column: 1;
}

.section-header {
    font-weight: 600;
    padding: 10px;
    font-size: 20px;
}

.project-grid {
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr;
    align-content: stretch;
    gap: 20px;
}

.project-grid > div {
    height: 150px;
    border-radius: 10px;
    border-left: 7px solid #f97316;
    padding: 30px;
    background-color: white;
    font-size: 14px;
    position: relative;
}

.project-grid > div > div {
    display: grid;
    grid-template-columns: repeat(3, 40px);
    gap: 1px;
    position: absolute;
    bottom: 35px;
    right: 5px;
}

.project-grid > div > p:first-child {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
}

.project-grid > div > p:last-child {
    color: dimgray;
}

.announcement-grid {
    grid-column: 3;
    border-radius: 10px;
    background-color: white;
    padding: 15px 20px;
}

.announcement-grid > div {
    margin: 5px;
    padding: 10px 5px;
    font-size: 10px;
}

.announcement-grid > div > p:first-child {
    font-weight: bold;
    font-size: 12px;
}

.announcement-grid > div > p:last-child {
    color: dimgray;
}

.announcement-grid > div:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.trending {
    padding-top: 30px;
}

.trending-grid {
    grid-column: 3;
    border-radius: 10px;
    padding: 15px 20px;
    background-color: white;
    display: grid;
    grid: repeat(4, 1fr) / 50px 1fr;
    justify-content: end;
    row-gap: 20px;
    column-gap: 5px;
}

.trending-grid > div {
    font-size: 12px;

    display: grid;
    grid-template-rows: 1 fr 1fr;
}

.trending-grid > img {
    width: 30px;
    justify-self: end;
}

.trending-grid > div > p:last-child {
    color: dimgray;
}